<div class="header">
  <div class="container">
    <div class="row">
      <div class="menu col-xs-8">
		 <ul>
			<li>
				<a href="#">Welcome</a>
			</li>
			<li>
				<a href="http://tiu.io">Blog</a>
			</li>
			<li>
				<a href="http://tiu.io/about">About</a>
			</li>
			<li>
				<a href="https://twitter.com/zhoutiu">Twitter</a>
			</li>
		 </ul>
      </div>
      <div class="name col-xs-4">
        <h1>Rails Freeform Project 1</h1>
      </div>
    </div>
  </div>
</div>
<div class="main home">
  <div class="jumbotron">
    <div class="container">
      <h2>
        STAY <span class="highlight">REAL</span>. STAY SIMPLE.
      </h2>
      <a class="btn right" href="portfolio">View my Work</a>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <ul class="social_media">
      <li>
        <a class="github" href="https://github.com/zhoutiu">github</a>
      </li>
      <li>
        <a class="twitter" href="https://twitter.com/zhoutiu">twitter</a>
      </li>
      <li>
        <a class="instagram" href="https://instagram.com/zhoutiu">instagram</a>
      </li>
    </ul>
    <p>© 2015 tiu. All rights reserved.</p>
  </div>
</div>